:root {
  --font-heading: "Mendl Sans Dusk Bold", "Mendl Sans Dusk", sans-serif;
  --font-subheading: "Mendl Sans Dusk Medium", "Mendl Sans Dusk", sans-serif;
  --font-body: "Mendl Sans Dusk Regular", "Mendl Sans Dusk", sans-serif;
}
